@model string
<ul>
    <li><a href="">Information</a></li>
    <li><a href="">Nutrition Store</a></li>
    <img src="greenfox.png" alt="green fox">
</ul>
<br />
<p>This is @Model. Currently living on pizza and lemonade. He knows 2 tricks</p>
<br />
<h1>Know tricks</h1>

