
@model BankOfSimba.Models.BankOfSimba.BankAccount
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<h1>
    @Model.Name as a @Model.AnimalType stored @Model.Balance.00 @Model.Currency in Bank of Simba 
</h1>
</body>
</html>

