@model week4day1workshop.Models.Greeting
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<h1 style="font-size: @Model.Font; color: @Model.Color">
    @Model.Hello @Model.Content
</h1>
</body>
</html>