body {
    background-image:url(topography.png);
    font:consolas;
    margin:0px;
}
#div1 {
    background-color:black;
    width:100%;
    height: 30px;
    text-align:right;
}
#div2{
    padding:5% 10%;
    border:0px;
}
h1{
    color:#333333;
}
a{
    color:#ff0099;
    text-align: left;
    border:20px;
}

h2{
    
    color: #ff0099;
}

#div3{
    text-align: center;
    color:black;
    padding: 5%;
}
img {
    left: 10px;
}