@model string
@{
    string color = "";
}
@if (Model.Contains('@') && Model.Contains('.'))
{
    color = "green";
}
else
{
    color = "red";
}
<style>
    h2{color: @color}
</style>
<h2>@Model</h2>

