.applicationForm {
    border: 1px solid;
    width:50%;
    height:500px;
    margin: 0 auto;
    
}
h3  {
    padding:-3px;
    width: fit-content;
    background-color: white;
    margin:3%;
    position: relative;
    top:-6%;
}
.question1{
    position: relative;
    top:-22px;
    width: fit-content;
    background-color: white;
}
.divname {
    border:1px solid;
    margin:3%;
    
    
}
#name {
    margin:5%;

}